body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 40px 40px;
}

h2 {
    background: #ddf5ff;
    padding: 0.5em;
}
table {
    margin: auto;
}
table td {
	background: #ebfaff;
}
table tr:nth-child(odd) td {
	background: #fff;
}
dt {
    margin: 15px;
    font-weight: bold;
}